/* AboutMe.css */
.about {
    margin-top: -26px;
    position: relative;
    width: 100%;
    height: 100%; /* Ajusta la altura deseada del contenedor */
    background-image: url('/Banner-Superior-1-removebg-preview.png');
    background-size: cover;
    font-weight: bold;
  }
  
  .about_title {
    text-align: center;
    padding-top: 68px;
    font-size: 31px;
  }
  
  .about_content_padre {
    height: 100%;
   
  }
  
  .dark .about_content_padre {
    height: 100%;
    background: hsla(0, 0%, 4%, 0.755);
  }
  
  .about_content {
    padding-top: 0px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dividimos el contenido en dos columnas de igual tamaño */
    gap: 10px;
    font-size: 20px;
  }
  
  .about_personalizado {
    padding: 80px;
    text-align: center;
    font-size: 22px;
    height: 200px;
    
  }
  
  /* Animación "typewriter" */
  @keyframes typewriter {
    from {
      width: 0; /* Comienza con ancho cero para que parezca que no hay texto */
    }
    to {
      width: 100%; /* Llega al ancho completo mostrando todo el texto */
    }
  }
  
  /* Aplica la animación "typewriter" al párrafo con la clase .typewriter-text */
   .typewriter-text {
    overflow: hidden; /* Oculta el texto que sale del contenedor */
    white-space: nowrap;
    animation: typewriter 4s steps(70) forwards; /* 4s es la duración de la animación */
    /* "steps(40)" dividirá la animación en 40 pasos, ajusta este número según desees */
  }
  @media (max-width: 577px){

  }
  @media (min-width:577px) and ( max-width: 768px){

  }
  @media (min-width: 768px) and (max-width: 992px){

  }
  @media (min-width: 992px)and (max-width: 1200px){

  }
  @media (min-width: 1200px) {
    
  }