/* Estilos para el contenido de experiencia */
.espe{
  height: auto;
  padding: 10px;

  @media screen and (max-width: 100%) {
    max-width: 90%;
    font-size: 14px;
    margin: 0.5rem auto;
  }
}
.espe_content {
    display: grid; /* Aplicamos display grid para el contenedor de secciones */
    grid-gap: 10px;
    grid-template-areas:
      'espe_principal espe_secundario'
      ; /* Definimos las áreas para las secciones */
  }
  
  /* Estilos para cada sección */
  .espe section {
    max-width: 500px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
  }
  .dark .espe section {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  }
  
  /* Estilos para los títulos de sección */
  .espe section h3 {
    
    font-weight: bold;
    
  }
  
  /* Estilos para los subtítulos de sección */
  .espe section h5 {
    
    font-weight: bold;
    color: #7e7e7e;
  }
  
  /* Estilos para los párrafos de sección */
  .espe section p {
    font-size: 16px;
    color: #777;
  }
  
  .espe_ultimo {
    margin-top: 20px;
    margin-left: 35px;
    max-width: 1122px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  h3{
display: flex;
justify-content: center;

  }
   
  .dark .espe_ultimo {

    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    
  }
  @media (max-width: 577px){
    .espe_content {
      display: block; /* Aplicamos display grid para el contenedor de secciones */
      grid-gap: 10px;
    }
    
    /* Estilos para cada sección */
    .espe section {
      
      padding: 30px;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      
    }
    .espe section h3 {
      font-size: 15px;
      font-weight: bold;
      
    }

    .espe section h5 {
      font-size: 13px;
      font-weight: bold;
      color: #7e7e7e;
    }
    
    .espe section p {
      font-size: 12px;
      color: #777;
    }
     
    .espe_ultimo {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .espe_ultimo h3{
      font-size: 15px;
    }
    .espe_ultimo p{
      font-size: 12px;
    }
    h3{
    display: flex;
    justify-content: center;
  
    }
  }
  @media (min-width:577px) and ( max-width: 768px){
  
    .espe section {
      
      padding: 30px;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      
    }
    .espe section h3 {
      font-size: 17px;
      font-weight: bold;
      
    }

    .espe section h5 {
      font-size: 15px;
      font-weight: bold;
      color: #7e7e7e;
    }
    
    .espe section p {
      font-size: 14px;
      color: #777;
    }
     
    .espe_ultimo {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 30px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .espe_ultimo h3{
      font-size: 17px;
    }
    .espe_ultimo p{
      font-size: 14px;
    }
    h3{
    display: flex;
    justify-content: center;
  
    }
  }
  @media (min-width: 768px) and (max-width: 992px){
    .espe section {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      
    }
    .espe section h3 {
      font-size: 20px;
      font-weight: bold;
      
    }

    .espe section h5 {
      font-size: 18px;
      font-weight: bold;
      color: #7e7e7e;
    }
    
    .espe section p {
      font-size: 16px;
      color: #777;
    }
     
    .espe_ultimo {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding: 30px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .espe_ultimo h3{
      width: 100%;
      font-size: 20px;
    }
    .espe_ultimo p{
      font-size: 16px;
    }
  }
  @media (min-width: 992px)and (max-width: 1200px){
    .espe section {
      
      padding: 30px;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      
    }
    .espe section h3 {
      font-size: 22px;
      font-weight: bold;
      
    }

    .espe section h5 {
      font-size: 19px;
      font-weight: bold;
      color: #7e7e7e;
    }
    
    .espe section p {
      font-size: 17px;
      color: #777;
    }
     
    .espe_ultimo {
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .espe_ultimo h3{
      width: 100%;
      font-size: 22px;
    }
    .espe_ultimo p{
      font-size: 17px;
    }
  }
  @media (min-width: 1200px) {
    .espe section {
      padding: 30px;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      
    }
    .espe section h3 {
      font-size: 25px;
      font-weight: bold;
      width: 100%;
    }

    .espe section h5 {
      font-size: 19px;
      font-weight: bold;
      color: #7e7e7e;
    }
    
    .espe section p {
      font-size: 18px;
      color: #777;
    }
     
    .espe_ultimo {
      margin-top: 20px;
      margin-left: 45px;
      margin-right: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    } 
    .espe_ultimo h3{
      width: 100%;
      font-size: 25px;
    }
    .espe_ultimo p{
      font-size: 18px;
    }
  }