
.header {
  position: fixed ;
  background-color: #87CEEB;
  width: 100%;
  z-index: 1;
  transition: all 0s ease;
  padding-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);


}
.dark .header {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.1);

}

.header_ul {
  margin-left: -20px;
  justify-content: center; /* Centra los elementos en la pantalla */
}

.header_ul_li {
  margin: 10px;
}
.header_content-btn {
  display: flex;
  flex-direction: column; /* Alinea los botones en columna */
  margin-top: 10px;
}



/* Estilos para la responsividad */
@media (max-width: 577px) {
  
  a {
    font-size: 10px;
  }
  .header_ul{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    margin: 0px;
    padding: -0px;
  }
  .header_ul {
    margin-left: -20px;
    gap: 20px;
    justify-content: center; /* Centra los elementos en la pantalla */
  }
  
  .header_ul_li {
    margin: 0px;
  }
  
  .header_content-btn {
    display: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
  }
  
  /* Estilos para los botones */
  .mi-boton-genial {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 9px;
    
  }
}

@media (min-width: 577px) and (max-width: 768px) {

  
  a {
    font-size: 13px;
  }
  .header_ul{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 2px;
    padding: 1px;
  }
  .header_ul {
    margin-left: -20px;
    justify-content: center; 
    gap: 5px;
  }
  
  .header_ul_li {
    margin: 0px;
    height: 40px;
  }
  
  .header_content-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
  }
  
  /* Estilos para los botones */
  .mi-boton-genial {
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  

   
  a {
    font-size: 17px;
  }
  .header_ul{
   display: flex;
    margin: 0px;
    
  }
  .header_ul {
    margin-left: -25px;
    justify-content: center;
    gap: 25px;
  }
  
  .header_content-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
    
  }
  
  /* Estilos para los botones */
  .mi-boton-genial {
    width: 120px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 13px;
  }
}

@media (min-width: 992px)and (max-width: 1200px) {
  
  a {
    font-size: 18px;
  }
  .header_ul{
   display: flex;
    justify-content: center;
    gap: 40px;
  }
  .header_content-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  
  /* Estilos para los botones */
  .mi-boton-genial {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 17px;
  }
}

@media (min-width: 1200px) {
  .header {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header_ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 50px;
    gap: 20px;
  }
  
  .header_ul_li {
    margin-left: -35px;
  }
  
  .header_content-btn {
    display: flex;
   flex-direction: row;
   
  }
  
  .mi-boton-genial {
    height: 50px;
    width: 140px;
  }
  
  .header_flex-container {
    display: flex;
    align-items: center;
  }
  h3{
    width: 140px;
  }
}

