/* Estilos para centrar todo el contenido dentro del div */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  @media screen and (max-width: 100%) {
    max-width: 90%;
    font-size: 14px;
    margin: 0.5rem auto;
  }
}


.home_content {
  text-align: center;
  line-height: 1.5;
}

@keyframes revealImage {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 50%);
    opacity: 1;
  }
}

.home_description {
  max-width: 80%;
  margin: 1rem auto;
  z-index: 1;

  @media screen and (max-width: 100%) {
    max-width: 90%;
    font-size: 14px;
    margin: 0.5rem auto;
  }
}

@media (max-width: 577px) {
 

  .home_content {
    text-align: center;
    line-height: 1.5;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  

  .home_content {
    text-align: center;
    line-height: 1.5;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  

  .home_content {
    text-align: center;
    line-height: 1.5;
  }

  .home_description {
    font-size: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  

  .home_description {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .home_title {
    margin-top: -00px;
    padding-bottom: 15px;
  }
}
