
  .proy {
    text-align: center;
    height: auto;
    padding: 20px;
    }
  
  .proy_title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .proy_content_hijo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
   
  article{
   margin: 5px;
    box-shadow: 0 1px 6px 2px rgb(0, 0, 0);
  }
  .dark article{
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.377);
  }
  .proy_1, .proy_2, .proy_3,.proy_4{
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 200px;
    background-size: 98%; /* La imagen se ajustará para caber dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; 
  }
  .proy_1 {
    background-image: url('/public/rik-and-morty.png');
  }
  .proy_2 { 
    background-image: url('/public/pokemos.png');
  }
  .proy_3 {
    
    background-image: url('/public/app-del-clima.png');
  }
  .proy_4 {
    
    background-image: url('/public/proyect.png');
  }
  .proy_title_proyect{
    color: #d000ff;
  }

 
  button {
    height: 30px;
    width: 80px;
    cursor: pointer;
    background-color: #0080ff;
    margin: 5px;
    border: none;
    border-radius: 5px;
    
  } 
  button:hover{
    background: #3b64ec;
  }
  .proy_detail{
    padding: 5px;
    background-color: #B3E0F2;
  }
  .dark  .proy_detail{
    background-color: #0C0C0C;
  }
  @media (max-width: 577px){
    .proy_title {
      font-size: 30px;
      margin-top: 50px;
    }
    button {
    margin: 10px;
    }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 200px;
      
      
    }
 
  }
  @media (min-width:577px) and ( max-width: 768px){
    .proy_content_hijo {
      grid-template-columns: 1fr 1fr;
    }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 190px;
    }
    
  }
  @media (min-width: 768px) and (max-width: 992px){
    .proy_content_hijo {
      grid-template-columns: 1fr 1fr;
    }
    .container {
      padding: 40px;
    }
    
    .proy_title {
      font-size: 32px;
    }
    .proy_1, .proy_2,.proy_3,.proy_4 {
      height: 260px;
    }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 250px;
      
      
    }
  }
  @media (min-width: 992px)and (max-width: 1200px){
    .proy_content_hijo {
      grid-template-columns: 1fr 1fr;
    }
    .proy_1,  .proy_2,.proy_3,.proy_4{
      height: 300px;
    }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 290px;
    }     
  }
  @media (min-width: 1200px) {
    .proy_content_hijo {
      grid-template-columns: 1fr 1fr;
    }
    .proy_1, .proy_2,.proy_3,.proy_4 {
      height: 300px;
    }
  
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 290px;
    }   
  }