
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para la sección de proyectos */
  .proy {
    text-align: center;
    height: auto;
    padding: 20px;

    @media screen and (max-width: 100%) {
      max-width: 90%;
      font-size: 14px;
      margin: 0.5rem auto;
    }
    
  }
  
  .proy_title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .proy_content_hijo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
   
  article{
   margin: 5px;
    box-shadow: 0 1px 6px 2px rgb(0, 0, 0);
  }
  .dark article{
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.377);
  }
  .proy_1 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 200px;
    background-image: url('rik-and-morty.png');
    background-size: 98%; /* La imagen se ajustará para caber dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el contenedor */
  }
  .proy_2 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 200px;
    background-image: url('pokemos.png');
    background-size: 98%; /* La imagen se ajustará para caber dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el contenedor */
  }
  .proy_3 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 200px;
    background-image: url('app-del-clima.png');
    background-size: 98%; /* La imagen se ajustará para caber dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el contenedor */
  }
  .proy_4 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 200px;
    background-image: url('proyect.png');
    background-size: 98%; /* La imagen se ajustará para caber dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el contenedor */
  }
  .proy_title_proyect{
    color: #003cff;
  }

 
  button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
  }
  .proy_detail{
    padding: 5px;
    background-color: #c0cdd7a1;
  }
  .dark  .proy_detail{
    background-color: #131313a1;
  }
  @media (max-width: 577px){
    .proy_title {
      font-size: 30px;
      margin-top: 50px;
    }
    button {
    margin: 10px;
    }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 200px;
      
      
    }
  }
  @media (min-width:577px) and ( max-width: 768px){
    .proy_content_hijo {
      grid-template-columns: 1fr 1fr;
    }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 190px;
    }
    
  }
  @media (min-width: 768px) and (max-width: 992px){
    .proy_content_hijo {
      grid-template-columns: 1fr 1fr;
    }
    .container {
      padding: 40px;
    }
    
    .proy_title {
      font-size: 32px;
    }
    .proy_1 {
      height: 260px;
    }
    .proy_2 {
      height: 260px;
    }
    .proy_3 {
      height: 260px;
    }
    .proy_4 {
      height: 260px;
     }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 250px;
      
      
    }
  }
  @media (min-width: 992px)and (max-width: 1200px){
    .proy_content_hijo {
      grid-template-columns: 1fr 1fr;
    }
    .proy_1 {
      height: 300px;
    }
    .proy_2 {
      height: 300px;
    }
    .proy_3 {
      height: 300px;
    }
    .proy_4 {
      height: 300px;
     }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 290px;
    }     
  }
  @media (min-width: 1200px) {
    .proy_content_hijo {
      grid-template-columns: 1fr 1fr;
    }
    .proy_1 {
      height: 300px;
    }
    .proy_2 {
      height: 300px;
    }
    .proy_3 {
      height: 300px;
    }
    .proy_4 {
      height: 300px;
     }
    .proy_detail{
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 290px;
    }   
  }